@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Merriweather:wght@300&family=Poppins:wght@200&family=Tilt+Prism&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lato&family=Merriweather:wght@300&family=Poppins:wght@200&family=Tilt+Prism&display=swap');



html,
body {
    padding: 0px;
    width: 100vw;
    height: 100%;
    overflow: hidden;

}

:root {
    --primary: crimson;
    --secondary: #ffffff;
    --third: black;
    --font: "Poppins";
    --font-sec: 'Lato';
    --font-third: 'Tilt Prism'
}

.main {
    min-height: 100%;

    overflow: hidden;

    padding: 0px;
    margin: 0px;
    background-color: black;
    background-size: cover;
}



.main-container {
    background-image: url('https://res.cloudinary.com/du1alk3zd/image/upload/v1692096894/pexels-lensmagicians-8506360_l2eaya.jpg');
    background-size: cover;

    height: 100vh;
    width: 100vw;
    margin: 0px;
}



.main-container::before {
    position: absolute;
    content: '';
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3)
}

.header-content {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    /* background-color: rgba(10, 10, 10, 0.4);*/
    padding: 0px 20px;
    border-bottom: 1px solid grey;

}

.nav-style .button-class {
    background-color: transparent;
    cursor: pointer;
    border: none
}

.nav-style .button-class>i {
    color: var(--secondary);
    font-size: 1.4em;

}


.nav-style .button-class>i:hover {
    color: var(--primary);

    cursor: pointer
}



.second-head {
    height: 23px;

    padding: 0px;


}

.for-head-large {
    display: none;
}

@media screen and (min-width:768px) {
    .nav-style .button-class>i {
        font-size: 1.8em;
    }



    .second-head {
        height: 30px;

    }


}

@media screen and (min-width:992px) {
    .second-head {
        height: 30px;
    }

    .nav-style {
        display: none;
    }

    .for-head-large {
        display: flex;
        flex-direction: row;
        align-items: center;
       gap:10px;
       margin-top:10px
       
        
    }

    .for-head-large h6 {
        color: var(--secondary);
        font-family: var(--font);
    
        font-weight: 500;
        cursor: pointer;
    }



}

.for-head-large h6:hover {
    color: var(--primary);

}


.outer {
    height: calc(100vh - 70px);
    /*   margin: 40px 10vw;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}



.para-in-main {

    width: 350px;
    padding: 20px
}

.para-in-main>h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--font-third);
    opacity: 0;
    font-size: 2.6em
}



.para-in-main>h1>span {
    opacity: 0;

    text-shadow: 1px 1px 3px rgb(77, 0, 0);
}

.para-in-main>h3 {
    opacity: 0;
    position: relative;
    left: 25%;
    font-weight: bold;
    font-size: 1.4em;
    font-family: var(--font);
}

.para-in-main>h3>span {
    opacity: 0;


}

.main-container-2 {
    background-color: rgba(0, 0, 0, 0.2);
    height: 350px;
    width: 400px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 0 white;
    margin: 0px;
    padding: 20px;
}

.for-image {
    border-radius: 20px;
    height: 310px;
}

.for-scroll-animation {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 3%;
    bottom: 2%;

}

.for-scroll-animation h6 {
    color: var(--secondary);
    font-family: var(--font);
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;


}

.for-scroll {
    color: var(--secondary);
    font-size: 2em;

}

@media screen and (min-width:768px) {
    .main-container-2 {
        width: 600px;
        height: 500px;
        height: 350px;
    }

    .for-image {
        height: 310px;
    }

    .para-in-main {
        width: 550px;

    }

    .para-in-main>h1 {
        font-size: 3em
    }

    .para-in-main>h3 {
        font-size: 1.8em;
    }

    .for-scroll-animation h6 {
        font-size: 22px;
    }

    .for-scroll {
        font-size: 2em;
    }
}

@media screen and (min-width:992px) {
    .outer {

        flex-direction: row;
        padding: 30px;

    }

    .main-container-2 {
        order: 1;
    }

    .para-in-main h1 {
        font-size: 5em;
    }

    .para-in-main h3 {
        font-size: 4em;
        left: 0%;
    }








}

.main-two {
    background-color: rgba(10, 12, 40);

    font-family: var(--font);
    height: 80vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0px;
}

.main-two h1 {
    position: absolute;
    top: 10%;
    border-bottom: 2px solid var(--secondary);


    color: var(--secondary);
    font-weight: 600;


    align-self: flex-start;
}

.for-main-two-para {
    color: #948989;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}

@media screen and (min-width:768px) {
    .main-two {
        height: 75vh;
        padding: 25px;

    }

    .main-two h1 {

        font-size: 2.3em;
    }

    .for-main-two-para {
        font-size: 22px
    }

}

@media screen and (min-width:992px) {
    .main-two {
        height: 70vh;
        padding: 30px;

    }

    .main-two h1 {
        left: 5%;

        font-size: 2.3em;
    }

    .for-main-two-para {
        width: 950px;
        padding: 20px;


        font-size: 22px
    }

}





.main-three {
    background-image: url('https://res.cloudinary.com/du1alk3zd/image/upload/v1692162117/Wallpaper_in_silver_mzmbus.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 50px 30px;
    margin: 0px;

}




.for-main-heading-in-main-three {
    font-family: var(--font-third);
    font-weight: bold;

    text-shadow: 1px 2px 2px black;
    -webkit-text-stroke: 1px brown
}

.for-align-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.for-main-three-div {
    display: flex;
    flex-direction: column;

    background-color: rgb(227, 185, 79);
    background-color: black;
    padding: 0px 0px 10px 0px;
    width: 250px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    color: var(--secondary);
    box-shadow: 0 8px 10px rgb(14, 14, 14);
    margin: 20px
}

.for-main-three-div:hover {
    scale: 1.1;
    transition: all 0.3;
    color: black;
    background-color: goldenrod;
    animation-name: move;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;


}

@keyframes move {
    0% {
        /* border-left:solid 3px pink;*/
        box-shadow: 0 0px 10px red;
    }

    25% {
        /*  border-top: solid 3px orange;*/
        box-shadow: 0 0px 10px blue;
    }

    50% {
        /*   border-right:solid 3px blueviolet;*/
        box-shadow: 0 0px 10px green;
    }

    100% {
        /*  border-bottom:solid 3px brown;*/
        box-shadow: 0 0px 10px goldenrod;
    }

}


.for-main-three-div div {
    padding: 10px 10px;

}

.for-main-three-header {
    font-size: 1.2em;
    font-weight: bold;

    font-family: var(--font-sec);
}

.for-main-three-div p {
    font-size: 0.7em;
    text-align: right;



}

.forBike {
    height: 70%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    object-fit: cover
}


.wishlistBtn {

    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid red;
    font-family: var(--font-sec);
    font-size: .8em;
    font-weight: 500;
    background-color: red;
    color: var(--secondary);
    margin-right: 5px;


}

.wishlistBtn:hover {
    background-color: black;
    color: var(--secondary);
    border-color: black;
}

.wishlistBtn span {
    font-weight: bold;
}

.for-know-more {
   
    padding: 3px 5px;
        border-radius: 4px;
    border: 1px red solid;
        font-family: var(--font-sec);
        font-size: .8em;
        font-weight: 500;
        background-color: transparent;
        color: var(--secondary);
        margin-right: 5px;
}

.for-know-more:hover {
    background-color: black;
    border-color: black;
}

@media screen and (min-width:768px) {
    .for-main-heading-in-main-three {
        font-size: 2.6em;
    }
}

@media screen and (min-width:992px) {
    .for-main-heading-in-main-three {
        font-size: 3.3em;
    }
}

.button-elements {
    text-align: right;

}

.main-four {
    background-color: rgba(10, 12, 40);
    background-color: rgb(220, 83, 20);
    background-color: firebrick;

    font-family: var(--font);
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0px;
}


.main-four h1 {
    position: absolute;
    top: 10%;
    border-bottom: 2px solid var(--secondary);


    color: var(--secondary);
    font-weight: 600;


    align-self: flex-start;
}

.for-main-four-para {
    color: var(--secondary);
    font-size: 20px;
    font-weight: 600;



}

@media screen and (min-width:768px) {
    .main-four {
        height: 75vh;
        padding: 25px;

    }

    .main-four h1 {

        font-size: 2.3em;
    }

    .for-main-four-para {
        font-size: 22px
    }

}

@media screen and (min-width:992px) {
    .main-four {
        height: 70vh;
        padding: 30px;

    }

    .main-four h1 {
        left: 5%;
        font-size: 2.3em;
    }

    .for-main-four-para {
        width: 950px;
        padding: 20px;

        font-size: 22px
    }


}

.footer-one {

    background-color: rgba(10, 12, 40);

    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    padding: 10px 20px 30px 20px;
    margin: 0px;
}

.footer-one>h2 {


    color: rgb(123, 123, 120);
    font-weight: bold;
    align-self: flex-start;
    font-family: var(--font-third);
    font-size: 2em;

}

.footer-one>div {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.styling-detail {


    background-color: rgb(242, 182, 139);
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    margin: 10px 0px;
    max-height: 50px;
    color: black;

    overflow: hidden;
}

.styling-detail:hover {
    animation: movingBorder 1.5s ease-in-out 1;


}

@keyframes movingBorder {
    0% {

        box-shadow: 0 0 5px rgb(255, 140, 0);
    }

    25% {

        box-shadow: 0 0 5px rgb(0, 247, 255);
    }

    50% {
        box-shadow: 0 0 5px rgb(250, 24, 201);
    }

    100% {
        box-shadow: 0 0 5px rgb(251, 5, 5);
    }
}

summary {
    font-weight: 900;
    outline: none;
    font-family: 'Roboto';
    cursor: pointer;
}

details[open].styling-detail {
    background-color: rgba(244, 5, 5, 0.6);
    background-color: firebrick;

    max-height: 500px;
    color: antiquewhite;


}

details[open] summary,
details>div>p {
    padding-bottom: 10px;
}


.for-icons {
    display: flex;
    justify-content: flex-end;

    margin-right: 20px;
}

.for-icons>i {
    font-size: 20px;
    margin: 5px
}

.for-icons>i:hover {
    cursor: pointer;
    border: 2px solid goldenrod;
    border-radius: 4px
}

@media screen and (min-width:768px) {
    .footer-one>h2 {
        font-size: 2.6em;
    }

    .footer-one {
        justify-content: flex-start;
        height: 60vh;

    }

    .footer-one>div {
        flex-direction: row;
        justify-content: space-around;
    }

    .styling-detail {

        width: 350px;


    }

    .for-icons {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 0px 20px;

    }
}

@media screen and (max-width:400px) {
    .header-content {
        overflow: auto;
    }

    .outer {
        overflow: auto;
    }

    .main-two {
        padding: 0px 10px;
    }

    .main-four {
        padding: 0px 10px;
    }



    .for-main-two-para {
        overflow: auto;
        font-size: 15px;

    }

    .for-main-four-para {
        overflow: auto;
        font-size: 15px;


    }

    .main-three {
        overflow: auto;
    }


}
